@using Newtonsoft.Json
@model DaySpringApp.Models.DonationByYearModels[]
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var models = JSON.parse('@(Html.Raw(JsonConvert.SerializeObject(Model)))');
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Donation');

        var dataset = new Array(models.length);
        for (var i = 0; i < models.length; i++) {
            dataset[i] = [models[i].MonthName, models[i].Total];
        }

        data.addRows(dataset);

        var chart = new google.visualization.ColumnChart(document.getElementById("barchart_values"));
        chart.draw(data, null);
    };
</script>
<div id="barchart_values"></div>