
@{
    ViewBag.Title = "Top Donor";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("btnDownload").on("click", function (e) {
            var year = $("cbxYear").val();
            var topN = $("#cbxTopN").val();
            if (year && numMonths) {
                $.ajax("http://172.22.119.132:8080/api/analysis/donors/top?year=" + year + "&num=" + topN, function (response) {
                    var rows = "";
                    for (var i = 0; i < response.length; i++) {
                        rows += "<tr>" +
                                    "<td>" + response[i].FirstName + response[i].LastName + "</td>" +
                                    "<td>" + response[i].IdNumber + "</td>" +
                                      "<td>" + response[i].Email + "</td>" +
                                      "<td>" + response[i].Phone + "</td>" +
                                      "<td>" + response[i].TotalDonationAmount + "</td>" +
                                "</tr>";
                    }

                    $("#topDonorContent").append(
                        "<table class='table table-striped grid-table'>" +
                        "<thead>" +
                            "<tr>" +
                                "<th>Full Name</th>" +
                                "<th>NRIC</th>" +
                                "<th>Email Address</th>" +
                                "<th>Contact No.</th>" +
                                "<th>Amount</th>" +
                            "</tr>" +
                        "</thead>" +
                        "<tbody>" +
                        rows +
                        "</tbody>" +
                        "</table>"
                    );
                });
            }
        });
    });
</script>
<h2>Query the Inactive Donor</h2>
<p>
    This section allows you to query the inactive donor.
</p>
<div class="form-group">
    <label for="cbxYear">Year</label>
    <select class="form-control" name="year" id="cbxYear">
        <option>2015</option>
        <option>2014</option>
        <option>2013</option>
        <option>2012</option>
    </select>
    <label for="cbxYear">Top?</label>
    <select class="form-control" name="topN" id="cbxTopN">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
    </select>
</div>
<button id="btnDownload" type="submit" class="btn btn-default">Download</button>
<div id="topDonorContent">
</div>