@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal" disabled="disabled">
    <h4>Donor</h4>
    <hr />
    @Html.Partial("_Content")
</div>
<div class="clearfix"></div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
