<!-- public/views/home.html -->
<div class="header">
	<div class="container">
		<h1 class="text-left">Donate</h1>
	</div>
</div>
<div class="container main-container">
	<div class="row">
		<div class="col-xs-12 text-justify">
			<p>DaySpring is a self-funded initiative of HighPoint Community Services Association (HCSA). HCSA is a member of the National Council of Social Services and a recognised Institute of Public Character (IPC).</p>

			<p>DaySpring relies on the generous support of individuals and organizations whose donations help to fund the operating costs of the Residential Treatment Centre. A cash donation will go a long way in helping abused teenage girls make peace with their past, and find renewed hope and purpose in life.</p>
		</div>
		<!--<div class="col-xs-6">
			<textarea msd-elastic="" id="nricList" ng-model="nricList" ng-trim="false" ng-keydown="detectEnter($event)" ng-change="nricListUpdate()" placeholder="S0000000A" class="pull-right" spellcheck="false">
			</textarea>
		</div>
		<div class="col-xs-6">
			<div class="pull-left validate-container">
				<span class="validate-item" ng-repeat="validationItem in validation">
					<span ng-if="validationItem.isValid" class="glyphicon glyphicon-ok validate-true" aria-hidden="true"></span>
					<span ng-if="!validationItem.isValid" class="glyphicon glyphicon-remove validate-false" aria-hidden="true"></span>
					<span class="validate-message">{{validationItem.message}}</span>
					<span class="validate-message-toggle">
						<span ng-if="!validationItem.isValid" class="glyphicon glyphicon-info-sign" aria-hidden="true" popover-placement="right" popover="{{validationItem.message}}"></span>
						<span class="validate-message-hint">(Tap for hint)</span>
					</span>
				</span>
			</div>
		</div>-->
	</div>
	
	
	<!--<div class="row" ng-hide="isIOS">
		<div class="col-md-offset-3 col-md-6 col-sm-12 col-sm-offset-0">
		    <div ngf-drop="parseFile($files)" ngf-select="parseFile($files)" ngf-model-invalid="rejFiles" class="dropZone" ngf-drag-over-class="'dropOver'" ngf-multiple="false" ngf-accept="'application/vnd.ms-excel,.csv'">Alternatively, select or drop a valid CSV file of NRIC numbers here!</div>
		    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
		</div>
	</div>

	<small>Maximum of {{maxValidations}} validations are allowed at a time.</small>

	<div class="row action-btn-container">
		<button  ng-hide="isIOS" class="btn btn-default" type="button" ng-csv="getSample()" filename="checkNRIC-sample.csv"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Download Sample CSV File</button>
		<button  ng-hide="isIOS" class="btn btn-default" type="button" ng-csv="download()" csv-header="getCSVHeader()" filename="{{csvFilename}}.csv"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download Results</button>
		<button class="btn btn-default" type="button" ng-click="clearAll()"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Clear All</button>
	</div>

	<div class="row" ng-show="isIOS">
		<small class="no-csv-message">Tip: Use a desktop browser to enable CSV bulk upload!</small>
	</div>

	<div class="row" style="margin-top: 30px; font-size: 15px;">
		<b>{{ totalValidationString }}</b> NRIC numbers validated to date.
	</div>-->

	<!-- Load Facebook SDK for JavaScript -->
	<!--<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1496952250523216";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>-->

	<!-- Your like button code -->
	<!--<div class="row" style="margin-top: 10px;">
		<small>Was this helpful? Help us spread the love!</small> 
		<div class="fb-like" data-href="http://checknric.com" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>-->

</div>
<div class="thank-you">
	<div class="container">
		<div class="row text-center">
			<h2>Thank you!</h2>
			<p>
				You have helped us raise a total of <br />
				<span class="amount-so-far">$500,000</span><br />
				so far!
			</p>
			<progressbar max="max" value="dynamic" type="success" animate="true">$<span style="color:white; white-space:nowrap;" count-to="{{countTo}}" duration="1" value="{{countFrom}}" format="comma"></span> / {{max | currency:S$:0}}</span></progressbar>
			<button type="button" class="btn btn-donate-now btn-lg">
		        Donate Now!
		    </button>
		</div>
	</div>
</div>

<div class="donate-form">
	<div class="container">
		<div class="tab-wrapper">
			<tabset active="activeJustified" justified="true">
			    <tab index="0" heading="Online Donation" templateUrl="template/tabs/tab.html">
			    	<div class="row">
			    		<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-12">
					    	<p>You will be forwarded to Paypal to make the transaction securely.</p>

							<p>Do take note that you would need to have a credit card or a paypal account to donate.</p>

							<p>Thank you for your generous contribution.</p>

							<form name="donateForm" ng-submit="submitDonate()">
								<div class="form-group">
									<label class="block">Do you need Tax Relief?</label>
									<label class="radio-inline">
									  	<input type="radio" ng-model="taxReliefOptions" name="taxReliefOptions" id="noTaxRelief" value="noTaxRelief" ng-change='changeTaxRelief(taxReliefOptions)' checked /> Non Tax Relief
									</label>
									<label class="radio-inline">
									  	<input type="radio" ng-model="taxReliefOptions" name="taxReliefOptions" id="taxRelief" value="TaxRelief" ng-change='changeTaxRelief(taxReliefOptions)' /> Tax Relief
									</label>
								</div>
								<div class="form-group required">
							    	<label for="firstName">First Name</label>
							    	<input type="text" class="form-control" ng-model="model.firstName" id="firstName" placeholder="First Name" name="firstName" />
							  	</div>
								<div class="form-group required">
							    	<label for="lastName">Last Name</label>
							    	<input type="text" class="form-control" ng-model="model.lastName" id="lastName" placeholder="Last Name" name="lastName" />
							  	</div>
								<div class="form-group required">
								    <label for="email">Email address</label>
								    <input type="email" class="form-control" ng-model="model.email" id="email" placeholder="Email" name="email" />
								</div>
								<div class="form-group required" ng-show="showTaxRelief">
								    <label for="idType">ID Type</label>
							    	<select class="form-control" name="idType" ng-model="model.idType">
										<option value="1">NRIC</option>
										<option value="2">FIN (Foreign Identification Number)</option>
										<option value="5">UEN-Business (Business Registration Number)</option>
										<option value="6">UEN-Local Company (Local company registartion Number)</option>
										<option value="8">ASGD (Tax Reference Number issued by IRAS)</option>
										<option value="10">ITR (Income Tax reference Number issued by IRAS)</option>
										<option value="35">UEN-Others (Unique Entity Number with TyyPQnnnnX format)</option>
									</select>
							 	</div>
							  	<div class="form-group required" ng-show="showTaxRelief">
								    <label for="idNumber">{{parseIdType(model.idType)}}</label>
							    	<input type="text" ng-model="model.idNumber" class="form-control" id="idNumber" placeholder="{{parseIdType(model.idType)}}" name="idNumber" />
							 	</div>
							 	<div class="form-group required" ng-show="showTaxRelief">
							    	<label for="contactNumber">Contact Number</label>
							    	<input type="text" ng-model="model.contactNumber" class="form-control" id="contactNumber" placeholder="Contact Number" name="contactNumber" />
							  	</div>
							 	<div class="form-group required" ng-show="showTaxRelief">
							    	<label for="postalCode">Postal Code</label>
							    	<input type="text" ng-model="model.postalCode" class="form-control" id="postalCode" placeholder="Postal Code" name="postalCode" maxlength="6" />
							  	</div>
							  	<div class="form-group required" ng-show="showTaxRelief">
							    	<label for="add1">Address Line 1</label>
							    	<input type="text" ng-model="model.add1" class="form-control" id="add1" placeholder="Address Line 1" name="add1" />
							  	</div>
							  	<div class="form-group" ng-show="showTaxRelief">
							    	<label for="add2">Address Line 2</label>
							    	<input type="text" ng-model="model.add2" class="form-control" id="add2" placeholder="Address Line 2" name="add2" />
							  	</div>
							  	<div class="form-group" ng-show="showTaxRelief">
							    	<label for="add3">Address Line 3</label>
							    	<input type="text" ng-model="model.add3" class="form-control" id="add3" placeholder="Address Line 3" name="add3" />
							  	</div>
							  	<div class="form-group required">
							    	<label for="donationAmt">Donation Amount</label>
							  		<select class="form-control" ng-model="model.currency" name="currency" id="currency">
										<option value="SGD">SGD</option>
										<option value="USD">USD</option>
									</select>
							    	<input type="number" class="form-control" ng-model="model.donationAmt" id="donationAmt" placeholder="100" name="donationAmt" />
							  	</div>
							  	<div class="form-group">
							    	<label for="remarks"></label>
							    	<p>Your donation will help both the abused girls and pregnant women. However, should you prefer to designate it to a specific programme, kindly indicate it here. Thank you for your support and donation.</p>
							    	<input type="text" class="form-control" id="remarks" ng-model="model.remarks" placeholder="Remarks (to designate to specific programme)" name="remarks" />
							  	</div>

							  	<div class="form-group">
							    	<p>Please confirm that you are a human and not an automated robot by checking the box and following any instructions below.</p>
							    	<div
							            vc-recaptcha
							            key="'6Lex7AkTAAAAACFAMWrzjDquN-RS5S5A0NDWGI1i'"
							            on-create="setWidgetId('verificationRecaptcha')"
							            on-success="handleResponse(response)"
							        ></div>
							  	</div>

							  	<div class="form-group" ng-show="showError">
							  		<p class="error-backend" ng-bind-html="errorMsg"></p>
							  	</div>
							  
							  <button type="submit" class="btn btn-default">Donate!</button>
							</form>
						</div>
					</div>
			    </tab>
			    <tab index="1" heading="Cheque &amp; GIRO">Cheque &amp; GIRO</tab>
			    <tab index="2" heading="Internet Banking">Internet Banking</tab>
		 	</tabset>
		 </div>
	</div>
</div>