<!-- public/views/readme.html -->
<div class="container readme-container">

    <h4>Check and Validate your NRIC numbers in bulk</h4>
    <h5>What does checkNRIC do?</h5>
    <p>checkNRIC uses the Singapore NRIC Check Digit / Checksum algorithm, available online and popularly used as a programming challenge, to check the validity of any 9-digit Singapore NRIC number. It works for both Singapore NRIC and FIN numbers. We are not affiliated to the Singapore Government in any way.</p>

    <h5>What does a valid NRIC number mean here?</h5>
    <p>It means that the last checksum alphabet of the NRIC number matches the 7-digit NRIC number and the prefix alphabet. It does not mean that the NRIC number actually belongs to a real person, and we do not guarantee that it does.</p>

    <h5>Why was checkNRIC created?</h5>
    <p>We realised a need for a quick and user-friendly tool to bulk-validate NRIC numbers, especially for administrative staff who deal with large numbers of personal particulars and who do not have direct access to official systems to check if a provided NRIC number is indeed a valid one. While we do not guarantee the validity of the NRIC number against a real person, we hope this tool would serve as a quick validation tool to help you identify possible errors in your data and save you some precious time from doing manual verification.</p>

    <h5>Why do I have to go through the CAPTCHA validation once in a while?</h5>
    <p>This is to prevent abuse of our system. The reCAPTCHA validation should be easy enough for humans to complete.</p>

    <h5>Will using this tool compromise my personal data?</h5>
    <p>You are not required to provide any personal information to use this tool, and we do not store identifying information in our server.</p>
</div>