<!-- public/views/termsOfUse.html -->
<div class="container terms-container">
    <h3>Terms Of Use</h3>
    
    <p>The following terms and conditions (the "Agreement") govern the use of the checkNRIC and checkNRIC websites and all content and services available at or through the websites (collectively, the "Service"). The Service is owned and operated by checkNRIC ("checkNRIC"). The Service is offered subject to your acceptance without modification of the Agreement. By accessing or using any part of the Service, you agree to become bound by the Agreement. If you do not agree to all the terms and conditions of this Agreement, please do not use the Service.

	This Agreement is between checkNRIC and you, or any juridical entity that you represent ("you"). If you enter into this Agreement on behalf of another juridical entity, you represent and warrant that you have authority to bind such entity to this Agreement.</p>

	<h5>Submitted Content</h5>
	<p>You retain the rights to content you submit to the Service. You grant checkNRIC and its service providers the right to temporarily store and modify your content insofar as necessary to provide the Service to you.</p>

	<h5>Limits</h5>
	<p>You acknowledge and agree that checkNRIC imposes a limit on the size and the number of requests you may send to the Service. checkNRIC may change such limits at any time, at checkNRIC's sole discretion.</p>

	<h5>Ownership</h5>
	<p>When subscribing to the Service checkNRIC grants you a non-exclusive, non-transferable, non-sublicensable license during your subscription period to use the Service.</p>

	<h5>Intellectual property</h5>
	<p>checkNRIC respects the intellectual property rights of others. checkNRIC asks you to respect the intellectual property rights of checkNRIC. All rights, title and interest in and to such property will remain solely with checkNRIC.</p>

	<h5>Responsibility</h5>
	<p>You represent and warrant that:</p>
	<ul>
		<li>your use of the Service will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;</li>
		<li>content you submit does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>
		<li>you will not use the Service in any manner that may disable, damage or overburden it;</li>
		<li>your use of the Service will be in strict accordance with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area).</li>
	</ul>
	<p>checkNRIC in its sole discretion has the right (though not the obligation) to refuse or remove content, terminate any subscription, and deny or limit access to use of the Service to any individual or entity if the terms of this Agreement are violated.</p>

	<h5>Privacy</h5>
	<p>checkNRIC may log each request to the Service. A log entry can contain information such as your browser type, your IP address, the date and time of day, and the size, fingerprint or other characteristics of transferred files. The purpose in collecting this information is to understand how the Service is used and to limit the number of requests from a single IP address. Submitted content will not be shared with third parties other than checkNRIC's service providers, unless required to comply with the law or requests of governmental entities.</p>
	<p>checkNRIC uses service providers based in the USA. Personally identifiable information regarding your payments may be transferred, processed and stored outside of Singapore.</p>

	<h5>Disclaimer of warranties</h5>
	<p>The Service is provided "as is". checkNRIC and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither checkNRIC nor its suppliers and licensors, make any warranty that the Service will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services, through the Service at your own discretion and risk.</p>

	<h5>Limitation of liability</h5>
	<p>In no event will checkNRIC, or its suppliers or licensors, be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to checkNRIC under this Agreement during the twelve (12) month period prior to the cause of action. checkNRIC shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

	<h5>Indemnification</h5>
	<p>You agree to indemnify and hold harmless checkNRIC, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Service, including but not limited to your violation of this Agreement.</p>

	<h5>Changes</h5>
	<p>checkNRIC reserves the right to modify or replace any part of this Agreement at any time. Your continued use of the Service following the posting of any changes to this Agreement constitutes acceptance of those changes. This Agreement may only be modified by a written amendment signed by an authorized executive of checkNRIC, or by the posting by checkNRIC of a revised version.</p>

	<h5>Applicable law and jurisdiction</h5>
	<p>Except to the extent applicable law, if any, provides otherwise this Agreement, any access to or use of the Service will be governed by the laws of the state of Singapore, excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the courts located in Singapore. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect.</p>

	<h5>Entire agreement</h5>
	<p>This Agreement constitutes the entire agreement between checkNRIC and you concerning the subject matter hereof.</p>
</div>